body{
    background: url("../IMAGENES/fondo\ cbc.jpg") center / cover no-repeat fixed;
}

header{
    background: #060d27;
    color: #fff;
    padding-left: 30px;
    margin: -8px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #050e25;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #000000;
}

.style-header{
    background: #031c40;
    width: 10vw;
    height: 60px;
    margin: 0.5vh 10vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-header:hover{
    box-shadow: 0px 0px 5px 0px #000000;
}

#container-home{
    width: 50vw;
    margin-top: 150px;
    margin-left: 140px;
    background: #031c40;
    border-left: 5px solid #050e25;
    border-bottom: 5px solid #050e25;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000000;
    box-sizing: border-box;

}

p{
    font-size: 18px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    color: #ffffff;
}

h1{
    padding-top: 15px ;
    margin-left: 50px;
    font-size: 3vw;
    color: #ffffff;
}

a{
    color: #fff;
    text-decoration: none;
}
